*.png
*.pyc*
*.zip
*.json
*.spec
*.log
*.xml
*.ini
.vs/
.idea/
__pycache__/
icons/
dist/
build/
schematicEditor.kdev4
reveda.log
revolution_eda.egg-info/
.venv/
venv/
*.pyc
.VSCodeCounter/
.gitmodules
.env
/nbproject/
/.ropeproject/
library.json
*.prn
*.raw
tests/