*.pyc*
*.zip
*.json
*.spec
*.log
*.xml
.vs/
.idea/
__pycache__/
icons/
dist/
build/
schematicEditor.kdev4
reveda.log
revolution_eda.egg-info/
.venv/
venv/
*.pyc
.VSCodeCounter/
reveda.log
reveda.exe
library.json
library.json
