#
[build-system]
requires = ["setuptools>=61.0.0", "wheel"]
build-backend = "setuptools.build_meta"
[tool.setuptools]
packages = ['revedaEditor.gui','revedaEditor.common','revedaEditor.fileio','revedaEditor.backend','revedaEditor.resources','pdk']
py-modules = ['revinit', 'reveda']
[project]
name = "revolution-eda"
version = "0.5.1"
description = 'Revolution EDA is a new generation integrated circuit design environment.'
readme = "README.md"
classifiers = ["Development Status :: 3 - Alpha",
    "Programming Language :: Python :: 3",
]
keywords = ["electronic", "design", "schematic"]
dependencies = ["PySide6>=6.4.2",
    "quantiphy>=2.19",
]
requires-python = ">=3.10"
[project.urls]
Homepage = "https://github.com/eskiyerli/revedaRelease"
[project.scripts]
reveda = "reveda:main"
