abydos==0.5.0
alabaster==0.7.12
altgraph==0.17.3
anyio==3.6.2
anytree==2.8.0
appdirs==1.4.4
application-utility==1.3.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
astroid==2.12.13
asttokens==2.2.0
async-generator==1.10
atomicwrites==1.4.1
attrs==22.1.0
autocommand==2.2.2
autopep8==2.0.0
Babel==2.11.0
backcall==0.2.0
beautifulsoup4==4.11.1
binaryornot==0.4.4
black==22.10.0
bleach==5.0.1
btrfsutil==6.0.2
build==0.9.0
certifi==2022.9.24
cffi==1.15.1
chardet==5.1.0
click==8.1.3
cloudpickle==2.1.0
colorama==0.4.6
comm==0.1.1
configobj==5.1.0.dev0
contourpy==1.0.6
cookiecutter==2.1.1
cryptography==38.0.4
cupshelpers==1.0
cycler==0.11.0
Cython==0.29.32
debugpy==1.6.4
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
diff-match-patch==20200713
dill==0.3.6
distlib==0.3.6
docal-tkinter==3.0.0
docopt==0.6.2
docstring-to-markdown==0.11
docutils==0.19
entrypoints==0.4
executing==1.2.0
fastjsonschema==2.16.2
filelock==3.8.0
flake8==6.0.0
flit_core @ file:///build/python-flit/src/flit-3.8.0/flit_core/dist/flit_core-3.8.0-py3-none-any.whl
fonttools==4.38.0
gmpy2==2.1.2
helpdev==0.7.1
idna==3.4
imagesize==1.4.1
importlib-metadata==5.0.0
inflect==6.0.2
inflection==0.5.1
installer==0.5.1
intervaltree==3.1.0
ipykernel==6.18.1
ipython==8.7.0
ipython-genutils==0.2.0
isort==5.10.1
Jade-Application-Kit==3.5.7
jaraco.classes==3.2.3
jaraco.context==4.2.0
jaraco.functools==3.5.2
jaraco.text==3.11.0
jarowinkler==1.2.3
jedi==0.18.1
jeepney==0.8.0
jellyfish==0.9.1
Jinja2==3.1.2
jinja2-time==0.2.0
json5==0.9.10
jsonschema==4.17.3
jupyter-server==1.23.3
jupyter_client==7.4.7
jupyter_core==5.1.0
jupyter_packaging==0.12.3
jupyterlab==3.5.0
jupyterlab-pygments==0.2.2
jupyterlab_server==2.16.3
keyring==23.11.0
keyutils==0.6
kiwisolver==1.4.4
lazy-object-proxy==1.8.0
Levenshtein==0.20.8
lit==14.0.6.dev0
lxml==4.9.1
Mako==1.2.4
mallard-ducktype==1.0.2
manjaro-sdk==0.1
Markdown==3.4.1
Markups==3.1.3
MarkupSafe==2.1.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
mccabe==0.7.0
mistune==2.0.4
more-itertools==9.0.0
mpmath==1.2.1
mypy-extensions==0.4.3
nbclassic==0.4.8
nbclient==0.7.2
nbconvert==7.2.5
nbformat==5.7.0
nest-asyncio==1.5.6
netsnmp-python==1.0a1
nftables==0.1
notebook==6.5.2
notebook_shim==0.2.2
npyscreen==4.10.5
numpy==1.23.5
numpydoc==1.5.0
ordered-set==4.1.0
packaging==21.3
pacman-mirrors==4.23.2
pandas==1.5.1
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.10.2
pbr==5.11.0
pep517==0.13.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
platformdirs==2.5.4
pluggy==1.0.0
ply==3.11
prometheus-client==0.15.0
prompt-toolkit==3.0.33
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pycairo==1.23.0
pycodestyle==2.10.0
pycparser==2.21
pycups==2.0.1
pycurl==7.45.1
pydantic==1.10.2
pydocstyle==6.1.1
pyenchant==3.2.2
pyflakes==3.0.1
pygame==2.1.2
Pygments==2.13.0
PyGObject==3.42.2
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.14
pylint==2.15.7
pylint-venv==2.3.0
pyls-spyder==0.4.0
pyparsing==3.0.9
PyQt5==5.15.7
PyQt5-sip==12.11.0
PyQt6==6.4.0
PyQt6-sip==13.4.0
PyQt6-WebEngine==6.4.0
PyQtWebEngine==5.15.6
pyrsistent==0.19.2
PySide2==5.15.7
PySide6==6.4.1
pysmbc==1.0.23
pysol-cards==0.14.2
PySolFC==2.18.0
python-dateutil==2.8.2
python-lsp-black==1.2.1
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.6.0
python-markdown-math==0.8
python-slugify==7.0.0
pytoolconfig==1.2.2
pytz==2022.6
pyxDamerauLevenshtein==1.7.1
pyxdg==0.28
PyYAML==6.0
pyzmq==24.0.1
QDarkStyle==3.1
qstylizer==0.2.2
QtAwesome==1.2.1
qtconsole==5.4.0
QtPy==2.3.0
quantiphy==2.18.0
random2==1.0.1
rapidfuzz==2.13.2
reportlab==3.6.12
requests==2.28.1
requests-unixsocket==0.3.0
ReText==8.0.0
rope==1.5.1
Rtree==1.0.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
scipy==1.9.3
SecretStorage==3.3.3
Send2Trash==1.8.0
shiboken2==5.15.7
shiboken6==6.4.1
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
Sphinx==5.3.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
spyder==5.4.0
spyder-kernels==2.4.0
stack-data==0.6.2
sympy==1.11.1
systemd-python==235
team==1.0
terminado==0.17.0
testpath==0.6.0
text-unidecode==1.3
textdistance==4.5.0
textparser==0.24.0
three-merge==0.1.1
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
tomli_w==1.0.0
tomlkit==0.11.6
tornado==6.2
traitlets==5.6.0
trove-classifiers==2022.12.1
typing_extensions==4.4.0
udiskie==2.4.2
ufw==0.36.1
ujson==5.6.0
urllib3==1.26.12
validate==5.1.0.dev0
validate-pyproject==0.10.1
virtualenv==20.17.0
watchdog==2.1.9
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.2
websockets==10.3
whatthepatch==1.0.3
wrapt==1.14.1
wurlitzer==3.0.2
yapf==0.32.0
youtube-dl==2021.12.17
yt-dlp==2022.11.11
zipp==3.11.0
